name: On Pull Request

on: pull_request

permissions:
  pull-requests: write
  contents: write
  actions: read
  security-events: write

jobs:
  dependabot:
    uses: ./.github/workflows/99-auto-merge.yml

  codeql:
    uses: ./.github/workflows/99-codeql-analysis.yml

  dependency-review:
    uses: ./.github/workflows/99-dependency-review.yml

  labeler:
    uses: ./.github/workflows/99-labeler.yml